<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results for {{ filename }}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Results for <span class="lead">{{ filename }}</span></h1>
                <hr>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">Error count</h3>
                </div>
                <div class="panel-body">
                    <p>Number of errors : {{ errcount }}</p>
                </div>
            </div>
            {% for node in report %}
            {% if node.errors %}
            <h3>Errors for <strong>&ldquo;{{ node.name }}&rdquo;</strong> {{node.nodetype or '' }}</h3>
            <table class="table">
                <thead>
                    <th>Error code</th>
                    <th>Lineno</th>
                    <th>col offset</th>
                    <th>Error desc</th>
                    <th>url</th>
                </thead>
                <tbody>
                    {% for error in node.errors %}
                    <tr>
                        <td width="20%">
                            {{ error.errcode }}
                        </td>
                        <td width="20%">
                            {{ error.lineno }}
                        </td>
                        <td width="10%">
                            {{ error.coloffset }}
                        </td>
                        <td width="30%">
                            {{ error.desc }}
                        </td>
                        <td width="20%">
                            {% if error.error_url %}
                            <a href="{{ error.error_url }}">View explanation</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer text-center">
            <small>Created by <a href="github.com/christabor/">Chris Tabor.</a></small>
        </div>
    </div>
</div>
</body>
</html>
